#container{
    display: none;
}

#calendario{
    border: 1px solid black;
}


legend .material-icons:nth-of-type(1){
    text-align: left !important;
    cursor: pointer;
}

.titulo-mes{
    text-align: center !important;
}

legend .material-icons:nth-of-type(3){
    text-align: right !important;
    cursor: pointer;
}

#mes{
    margin: 0px;
    padding: 0px;
}

legend .material-icons:hover{
    background-color: rgb(185, 185, 185);
}

td{
    width: 100px;
    height: 100px;
    border: .5px solid gray !important;
}

td:hover p{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: green;
}

.hoy{
    background-color: rgb(201, 201, 201) !important;
}


.material-icons-evento, .numDia{
    cursor: pointer;
}